<!--↑エラーメッセージ表示枠……バリデーションエラーを出す画面ではこれを追加しておくこと。-->
<% content_for :show_msgerr do%>
  <%= render 'layouts/form_msgerr', model_info: task %>
<% end %>
<!--↑エラーメッセージ表示枠-->

<%= form_with(model: task, local: true) do |form| %>


  <%= form.label "※メモ：担当者は後回し、暫定で「1」を登録" %>
  <div class="">
    <%= form.label "↑これは開発中のメモのため、ステップ9「i18n」への置き換えの対象外としています" %>
  </div>

  <div class="field">
    <%= form.label t('activerecord.attributes.task.status') %>
    <%= form.hidden_field :status %>
    <%= form.label Task.get_status_name(@task.status) %>
  </div>

  <div class="field">
    <%= form.label t('activerecord.attributes.task.name') %>
    <%= form.text_field :name ,id: :name %>
  </div>

  <div class="field">
    <%= form.label t('activerecord.attributes.task.content') %>
    <%= form.text_area :content ,id: :content %>
  </div>

  <div class="field">
    <%= form.label t('activerecord.attributes.task.limit') %>

    <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
      <%= form.text_field :limit,type: "text", class: "form-control datetimepicker-input",
              data: {toggle: "datetimepicker", target: "#datetimepicker4"} ,id: :limit %>
      <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
          <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
      </div>


    </div>

  </div>

  <div class="field">
    <%= form.label t('activerecord.attributes.task.priority') %>
    <label>
      <%= form.radio_button :priority, 0 %><%= Task.get_priority_name(0,1) %>
    </label>
    <label>
      <%= form.radio_button :priority, 1 %><%= Task.get_priority_name(1,1) %>
    </label>
    <label>
      <%= form.radio_button :priority, 2 %><%= Task.get_priority_name(2,1) %>
    </label>
    <label>
      <%= form.radio_button :priority, 3 %><%= Task.get_priority_name(3,1) %>
    </label>
  </div>

  <div class="actions">
    <%= form.submit t('helpers.submit.create') %>
  </div>
  
<% end %>

<% if action_name== 'edit' %>
  <%= (link_to  t('helpers.submit.delete'), task, method: :delete,data: { confirm:  t('activerecord.warning.before_del') } ,
                        disabled:false)  %>
<% end %>

<%= link_to t('condition.back'),  tasks_path %>
