<div class="index_box">
  <table>
    <tr>

      <th>
        <%= label '', "↑" , class: "btn_sort" , id: "tasks_name_desc" %>
        <%= t('activerecord.attributes.task.name') %>
        <%= label '', "↓" , class: "btn_sort" , id: "tasks_name_asc" %>
      </th>
      <th>
        <%= label '', "↑" , class: "btn_sort" , id: "tasks_content_desc" %>
        <%= t('activerecord.attributes.task.content') %>
        <%= label '', "↓" , class: "btn_sort" , id: "tasks_content_asc" %>
      </th>
      <th>
        <%= label '', "↑" , class: "btn_sort" , id: "tasks_limit_desc" %>
        <%= t('activerecord.attributes.task.limit') %>
        <%= label '', "↓" , class: "btn_sort" , id: "tasks_limit_asc" %>
      </th>
      <th>
        <%= label '', "↑" , class: "btn_sort" , id: "tasks_priority_desc" %>
        <%= t('activerecord.attributes.task.priority') %>
        <%= label '', "↓" , class: "btn_sort" , id: "tasks_priority_asc" %>
      </th>
      <th>
        <%= label '', "↑" , class: "btn_sort" , id: "tasks_status_desc" %>
        <%= t('activerecord.attributes.task.status') %>
        <%= label '', "↓" , class: "btn_sort" , id: "tasks_status_asc" %>
      </th>

    </tr>

  <% line_num = 0 %>
  <% @tasks.each do |task| %>
  
    <div id = "index_line_id_" + task.id.to_s >
      <%= render 'index_line', task: task , line_num: line_num %>
    </div>

    <% line_num += 1 %>
  <% end %>

</table>
</div>
