<div>
  <table class="table_box">
    <div class="">

      <tr class= "table_title_row">
        <th class= "table_title_content table_content_userinfo">
          <%= label '', "↑" , class: "btn_sort btn btn-warning btn-sm" , id: "users_cd_desc" %>
          <%= t('activerecord.attributes.user.name_custom.name3') %>
          <%= label '', "↓" , class: "btn_sort btn btn-warning btn-sm" , id: "users_cd_asc" %>
        </th>
        <th class= "table_title_content table_content_name">
          <%= label '', "↑" , class: "btn_sort btn btn-warning btn-sm" , id: "tasks_name_desc" %>
          <%= t('activerecord.attributes.task.name') %>
          <%= label '', "↓" , class: "btn_sort btn btn-warning btn-sm" , id: "tasks_name_asc" %>
        </th>
        <th class= "table_title_content table_content_content">
          <%= label '', "↑" , class: "btn_sort btn btn-warning btn-sm" , id: "tasks_content_desc" %>
          <%= t('activerecord.attributes.task.content') %>
          <%= label '', "↓" , class: "btn_sort btn btn-warning btn-sm" , id: "tasks_content_asc" %>
        </th>
        <th class= "table_title_content table_content_limit">
          <%= label '', "↑" , class: "btn_sort btn btn-warning btn-sm" , id: "tasks_limit_desc" %>
          <%= t('activerecord.attributes.task.limit') %>
          <%= label '', "↓" , class: "btn_sort btn btn-warning btn-sm" , id: "tasks_limit_asc" %>
        </th>
        <th class= "table_title_content table_content_priority">
          <%= label '', "↑" , class: "btn_sort btn btn-warning btn-sm" , id: "tasks_priority_desc" %>
          <%= t('activerecord.attributes.task.priority') %>
          <%= label '', "↓" , class: "btn_sort btn btn-warning btn-sm" , id: "tasks_priority_asc" %>
        </th>
        <th class= "table_title_content table_content_status">
          <%= label '', "↑" , class: "btn_sort btn btn-warning btn-sm" , id: "tasks_status_desc" %>
          <%= t('activerecord.attributes.task.status') %>
          <%= label '', "↓" , class: "btn_sort btn btn-warning btn-sm" , id: "tasks_status_asc" %>
        </th>
        <th class= "table_title_content table_content_tag_count">
          <%= label '', "↑" , class: "btn_sort btn btn-warning btn-sm" , id: "tag_count_desc" %>
          <%= t('activerecord.attributes.tag.tag_count') %>
          <%= label '', "↓" , class: "btn_sort btn btn-warning btn-sm" , id: "tag_count_asc" %>
        </th>
        <th class= "table_title_content table_content_btn">
        </th>
        <th class= "table_title_content table_content_btn">
        </th>

      </tr>

    </div>
  <% line_num = 0 %>
  <% @tasks.each do |task| %>

    <div id = "index_line_id_" + task.id.to_s  >
      <%= render 'index_line', task: task , line_num: line_num %>
    </div>

    <% line_num += 1 %>
  <% end %>

</table>
</div>
