<tr class = "index_line_<%= line_num %>" >

    <td><%= task.name %></td>
    <td><%= task.content %></td>

    <td>
      <% if task.limit.nil?  %>
        <%= t('abnormaldata.undecided') %>
      <% else  %>
        <%= task.limit.strftime(t('date.formats.default')) %>
      <% end  %>
    </td>
    <td><%= Task.get_priority_name(task.priority) %></td>
    <td>
      <%= form_with(model: task,url:update_status_task_path(task.id),method: :patch ,remote: true) do |form| %>
        <label>
          <%= form.radio_button "status_" + task.id.to_s, 0 , judge_radio_checkd(task.status , 0) %><%= Task.get_status_name(0) %>
        </label>
        <label>
          <%= form.radio_button "status_" + task.id.to_s, 1 , judge_radio_checkd(task.status , 1) %><%= Task.get_status_name(1) %>
        </label>
        <label>
          <%= form.radio_button "status_" + task.id.to_s, 9 , judge_radio_checkd(task.status , 9) %><%= Task.get_status_name(9) %>
        </label>
        <%= form.hidden_field :line_num ,value: line_num %>
        <%= form.submit "進捗変更" %>
      <% end %>
    </td>


    <td><%= link_to t('activerecord.models.task') +  t('condition.edit') , edit_task_path(task),id: "goto_task" + task.id.to_s + "_edit" %></td>
    <td><%= link_to t('activerecord.models.task') +  t('condition.show') , task_path(task),id: "goto_task" + task.id.to_s + "_show" %></td>

</tr>
