<!--↓タイトル表示枠-->
<% content_for :show_head_title do%>
  <h1 class="title_head"><%= get_tablename_by_model(@tasks) %>一覧画面</h1>
<% end %>
<!--↑タイトル表示枠-->

<table>
  <tr>
    <th>仕事名</th>
    <th>詳細</th>
    <th>終了期限</th>
    <th>優先度</th>
    <th>状態</th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.content %></td>

    <td>
      <% if task.limit.nil?  %>
        <%= "未定" %>
      <% else  %>
        <%= task.limit.strftime('%y年%m月%d日') %>
      <% end  %>
    </td>
    <td><%= Task.get_priority_name(task.priority) %></td>
    <td><%= Task.get_status_name(task.status) %></td>
    <td><%= link_to 'タスク更新へ', edit_task_path(task) %></td>
    <td><%= link_to 'タスク閲覧へ', task_path(task) %></td>
  </tr>
<% end %>
</table>

<%= link_to '新規タスク', new_task_path %>
