<!--↓タイトル表示枠-->
<% content_for :show_head_title do%>
  <h1 class="title_head"><%=  t('screen.index',name: get_tablename_by_model(@tasks) ) %></h1>
<% end %>
<!--↑タイトル表示枠-->

<div class="search_condition">

  <%= form_with  url:index_search_tasks_path,method: :get ,remote: true do |form| %>

<h4>ここに検索条件を追加していく（未実装）</h4>

  <%= form.submit t('action.search') %>

  <% end %>

</div>


<%= link_to t('condition.new') + t('activerecord.models.task'), new_task_path ,class: "btn btn-primary"%>

<div id = "index_box">

  <%= render 'index_box', tasks: @tasks %>

</div>
