<!--↑エラーメッセージ表示枠……バリデーションエラーを出す画面ではこれを追加しておくこと。-->
<% content_for :show_msgerr do%>
  <%= render 'layouts/form_msgerr', model_info: @user %>
<% end %>
<!--↑エラーメッセージ表示枠-->

<!--↓タイトル表示枠-->
<% content_for :show_head_title do%>
  <h1 class="title_head"><%= get_tablename_by_model(@user) %>プロフィール編集画面</h1>
<% end %>
<!--↑タイトル表示枠-->
<%= form_with(model: @user, local: true) do |form| %>


  <div class="line_info">
    <%= form.label "パスワード",class: "label_user_info line_content_1"%>
    <%= form.password_field :password, value: "", id: :user_password_digest,class: "input_user_info line_content_2" %>
  </div>

  <div class="line_info">
    <%= form.label "パスワード（確認用）",class: "label_user_info line_content_1"%>
    <%= form.password_field :password_confirmation, value: "", id: :user_password_digest,class: "input_user_info line_content_2" %>
  </div>

  <div class="action">
    <%= form.submit  "パスワードを変更します。" ,class:"btn btn-default btn_main_1" %>
  </div>
<% end %>
