<!--↑エラーメッセージ表示枠……バリデーションエラーを出す画面ではこれを追加しておくこと。-->
<% content_for :show_msgerr do%>
  <%= render 'layouts/form_msgerr', model_info: @user %>
<% end %>
<!--↑エラーメッセージ表示枠……バリデーションエラーを出す画面ではこれを追加しておくこと。-->

<!--↓タイトル表示枠-->
<% content_for :show_head_title do%>
  <h1 class="title_head"><%=  t('screen.edit',name: get_tablename_by_model(@user))+ "(" + t('authority.for_admin') + ")" %></h1>
<% end %>
<!--↑タイトル表示枠-->

<%= form_with(model: @user,url: admin_user_path(@user) , local: true) do |form| %>

  <div class="line_info">
    <%= form.label t('activerecord.attributes.user.cd'),class: "line_content_1" %>
    <%= form.label @user.cd.to_s , id: :user_cd ,class: "input_user_info line_content_2"%>

    <%= form.hidden_field :cd %>
  </div>

  <div class="line_info">
    <%= form.label t('activerecord.attributes.user.name'),class: "line_content_1" %>
    <%= form.text_field :name, id: :user_name,class: "input_user_info line_content_2"%>
  </div>

  <div class="line_info">
    <%= form.label t('activerecord.attributes.user.email'),class: "line_content_1" %>
    <%= form.email_field :email, id: :user_email,class: "input_user_info line_content_2"%>
  </div>

  <div class="line_info">
    <%= form.label t('activerecord.attributes.user.admin_status') ,class: "line_content_1"%>
    <span class = "input_radio_btn_line">
      <label class = "input_radio_btn">
        <%= form.radio_button :admin_status, 0 %><%= User.get_admin_status_name(0) %>
      </label>
      <label class = "input_radio_btn">
        <%= form.radio_button :admin_status, 9 %><%= User.get_admin_status_name(9) %>
      </label>
    </span>
  </div>

  <div class="actions">
    <%= form.submit t('action.edit'),class:"btn btn-primary btn_main_2"%>
  </div>
<% end %>

<%= link_to t('condition.back'),  admin_users_path , class: 'btn btn-primary btn_main_1'  %>
