<!--↑エラーメッセージ表示枠……バリデーションエラーを出す画面ではこれを追加しておくこと。-->
<% content_for :show_msgerr do%>
  <%= render 'layouts/form_msgerr', model_info: @user %>
<% end %>
<!--↑エラーメッセージ表示枠-->

<!--↓タイトル表示枠-->
<% content_for :show_head_title do%>
  <h1 class="title_head"><%=  t('screen.edit_password',name: "")+ "(" + t('authority.for_admin') + ")" %></h1>
<% end %>
<!--↑タイトル表示枠-->
<%= form_with(model: @user,url: update_password_admin_user_path(@user) , local: true) do |form| %>

  <div class="line_info">
    <%= form.label  t('activerecord.attributes.user.password'),class: "label_user_info line_content_1"%>
    <%= form.password_field :password, value: "", id: :user_password_digest,class: "input_user_info line_content_2" %>
  </div>

  <div class="line_info">
    <%= form.label  t('activerecord.attributes.user.password_confirmation'),class: "label_user_info line_content_1"%>
    <%= form.password_field :password_confirmation, value: "", id: :user_password_digest,class: "input_user_info line_content_2" %>
  </div>

  <div class="action">
    <%= form.submit  t('action.change') ,class:"btn btn-primary btn_main_2" %>
  </div>
<% end %>

<%= link_to t('condition.back'),  admin_users_path , class: 'btn btn-primary btn_main_1'  %>
